html, body, p {
    padding: 0;
    margin: 0;
}

p, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold-text {
    font-weight: bold ;
}

.name-text {
    color: rgb(66, 194, 27);
}

.purple {
    background: purple;
}

.white-text {
    color: white;
}

.block1 {
    width: 980;
    margin: auto;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.exp {
    list-style: none;
    color: rgb(134, 134, 114);
    padding: 0;
    margin: 0;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.achiev {
    list-style-image:
}

.strp {
    list-style-image:
}