html, body, p {
    padding: 0;
    margin: 0;
}

p, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bold-text {
    font-weight: bold ;
}

.name-text {
    color: rgb(218, 197, 15);
}

.purple {
    background: rgb(69, 128, 253);
}

.white-text {
    color: white;
}

.block1 {
    width: 70%; 
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.nav li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.exp {
    list-style: none;
    
    padding: 0;
    margin: 0;
}
.exp li {
    margin: 20px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.achiev {
    list-style-image:
}

.strp {
    list-style-image:url("./1.png")
}

.princ {
    background: rgb(69, 128, 253);
    text-align: left;
}

.size {
    font-size: 28px;
}

.parag {
    margin: 12px 0;
    font-size: 18px;
}

.hand-img {
    background-image: url("./филос.jpg");
    background-position: center;
    background-size: cover;
}

.radius {
    border-radius: 58%;   
}
